body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Fira Code', monospace;
    font-size: 1.5em;
}

@media screen and (min-width: 1025px) {
    body {
        font-size: 1em;
    }
}

.item {
    padding: 2em;
}

#container {
    display: grid;
    margin: 4em 4em auto 4em;
    text-align: center;
}

#blurb {
    text-align: left;
    font-size: 1.5em;
}

#pronouns {
    color: dimgray;
    font-size: .5em;
}

#tamiPic {
    clip-path: circle(48%);
    width: 5em;
}

#tamiCard {
    padding: revert;
    margin: auto;
    border: .1em solid #000000;
    box-shadow: .4em .4em  ;
}

#tamiProfile {
    padding: 2em;
    text-align: center;
    line-height: .1em;
    font-size: 2em;
}