body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Fira Code', monospace;
    font-size: 1.5em;
}

@media screen and (min-width: 1025px) {
    body {
        font-size: 1em;
    }
}

a {
    color: brown;
}

.item {
    padding: 2em;
}

#navbar {
    margin: 2em 4em auto 4em;
    padding: 1em;
    text-align: left;
    display: flex;
    align-items: center;
}

#navbar img {
    margin-left: auto;
    height: 3em;
}

#navbar a {
    margin: 0 1em;
}

#container {
    display: grid;
    margin: 4em 4em auto 4em;
    text-align: center;
}

#blurb {
    text-align: left;
    font-size: 1.5em;
}

#pronouns {
    color: dimgray;
    font-size: .5em;
}

#tamiPic {
    clip-path: circle(48%);
    width: 5em;
}

.tamiCard {
    padding: 1em 1.5em;
    margin: auto;
    border: .1em solid #000000;
    box-shadow: .4em .4em  ;
}

#tamiProfile {
    padding: 1em;
    text-align: center;
    line-height: .1em;
    font-size: 2em;
}