body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Fira Code', monospace;
}

#content {
    margin: auto;
    text-align: center;
}

#pronouns {
    color: dimgray;
    font-size: .5em;
}

#tamiPic {
    clip-path: circle(48%);
    width: 150px;
}

#tamiCard {
    margin: auto;
    width: fit-content;
    border: 1px solid #000000;
    box-shadow: 4px 4px ;
}

#tamiProfile {
    padding: 40px;
    text-align: center;
    round-clip: 10px;
    line-height: .1em;
    font-size: 32px;
}